.navbar {
    grid-area: navbar;
    background-color: #F47C48;
    display: grid;
    grid-template-areas: "logo-box search-bar navbar-buttons";
    grid-template-rows: 65px;
    grid-template-columns: 25fr 50fr 25fr;
    padding: 0 10px;
    align-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar-buttons {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    height: 100%;
    justify-content: end;
}

.navbar-button {
    background-color: inherit;
    border: none;
    display: grid;
    cursor: pointer;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: fit-content;
    padding: 0;
    margin-left: 20px;
}

.navbar .search-img {
    max-width: 25px;
}

.navbar .search-input {
    height: 30px;
    max-width: 300px;
}

.navbar .search-bar {
    justify-content: end;
    margin-bottom: 0px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
}

.navbar .search-dropdown {
    width: fit-content;
    height: 30px;
    align-self: center;
}

.navbar .search-button {
    width: fit-content;
    height: 30px;
    align-self: center;
}

@media only screen and (max-width:800px) {
    .staticHome .navbar {
        grid-template-columns: 70px auto 120px;
    }

    .select-search-type {
        max-width: 85px;
    }
    .navbar .search-input {
        max-width: 150px;
    }

    .search-input {
        width: 300px;
        border: 1px solid grey;
    }
    .navbar-buttons.responsive {
        position: relative;
    }

    .navbar-buttons.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-buttons.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar-button {
        margin-left: 0px;
    }

    .navbar .search-input {
        max-width: 200px;
    }
}