@media only screen and (max-width: 800px) {

    .search-input {
        width: 300px;
        border: 1px solid grey;
    }

    .course {
        padding: 10px;
        grid-template-columns: 100fr;
        grid-template-areas: "class" "contact" "schedule";
    }

    .contact {
        max-width: 550px;
        margin: 20px 0;
    }

    .schedule {
        min-width: 550px;
        margin: 20px 0;
    }

    .staticProfile .schedule {
        min-width: 550px;
        max-width: 550px;
    }

/*
    * {
        font-size: 20px;
    }
*/
    th, td {
        padding: 2px;
    }

    .staticProfile {
        grid-template-columns: 100fr;

    }

    .staticProfile .content {
        padding: 10px;
        grid-template-columns: 100fr;
        grid-template-rows: 150px auto auto;
        grid-template-areas: "description" "class-content" "time-content";
    }

    .classes {
        max-width: 550px;
        min-width: 300px;
    }

    .profile-profesor {
        max-width: 550px;
    }

    .staticSearchResults .content {
        grid-template-columns: auto;
        grid-template-areas: "filter-panel" "search-results";
        padding: 5px;
    }

    .filter-panel {
        max-width: 550px;
        margin: 0;
        margin-top: 25px;
    }

    .responsiveRow {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .responsiveRow h3 {
        margin-right: 10px;
    }

    .responsiveColumn {
        display: flex;
        flex-direction: column;
    }
    .text-center-responsive{
        text-align: center;
    }

    .responsiveDelete {
        display: none;
    }

    .rm-10-b {
        margin: 0;
    }

    .r-filter-title{
        width: 180px;
    }

    .input-request-filter {
        width:100px;
    }

    .search-results {
        margin-right: 0;
        max-width: 550px;
    }

    .conversation-messages {
        max-height: 200px;
    }

    .conversations {
        grid-template-columns: 100fr;
        grid-template-areas: "navbar " "....." "content" "......";
    }

    .register-form {
        grid-template-columns: auto 312px auto;
    }

    .class-content {
        grid-template-rows: auto auto auto;
    }

    .dropdown-button{
        padding: 0 20px;
    }

    .select-search-type {
        max-width: 80px;
    }

    .r-filter-title {
        width: fit-content;
    }
}

@media only screen and (max-width: 400px) {
    * {
        /*font-size: 25px;*/
    }

}