*{
    font-family: 'lato';
}

textarea {
    resize: none;
}

.search-result, .dropdown-area, .contact-button, .class, .dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.class, .search-course-result, .reservation-course-result, .add-time>div {
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
}

.logo-box {
    grid-area: logo-box;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    width: fit-content;
}

.logo {
    height: 50px;
    padding-right: 10px;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-rows: 65px 25px auto 100px;
    grid-template-areas: "navbar  navbar  navbar"
                         "content content content"
                         "content content content"
                         "content content content"
                        ;
}

.body {
    display: block;
}

.staticHome, .register, .staticProfile, .staticClass, .reservations {
    grid-template-areas: "navbar navbar  navbar"
                         "...... ....... ......"
                         "...... content ......"
                         "...... ....... ......"
                        ;
}

.reservations {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
}

.staticProfile {
    grid-template-columns: 10fr 80fr 10fr;
}

.content {
    grid-area: content;
}

.course {
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas: "class" "contact" "schedule" "coments" "coment-form";

}

.register .content {
    display: grid;
    justify-content: center;
}

.select-subject {
    background-color: white;
    height: 30px;
    align-self: center;
    border: none;
    border: 2px solid #F47C48;
    border-radius: 5px;
    margin-left: 5px;
}

/*Generic dropdown*/


.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: grid;
    align-content: center;
    height: 65px;
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown-button {
    position: relative;
    height: 100%;
    max-width: 50px;
}

.dropdown-button:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 65px;
    right: 22px;
    left: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 100%;
    margin: 0;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/

/*End generic dropdown*/

.dropdown-area button {
    padding: 10px;
}

.dropdown-area button:hover {
    background-color: rgb(247, 92, 36);
}



button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
}

.filter-panel {
    grid-area: filter-panel;
    display: none;
    flex-direction: column;
    justify-self: center;
    background-color: #dedede;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
}


.paged-result-buttons {
    align-self: center;
}


.firstchild {

}


.m-20 {
    content: "";
    margin-bottom: 10px;
}

.profile-profesor {
    grid-area: description;
    margin: 40px 0;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 50px 100px;
    grid-template-areas:
            "profile-picture profile-name"
            "profile-picture profile-description"
}

.round-background {
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: #dedede;
    padding: 5px;
}

.profile {
    height: fit-content;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 20px auto;
    grid-template-areas: 
        "profile-picture profile-name"
        "profile-picture profile-description"
}

.profile-name {
    grid-area: profile-name;
}

.profile-description {
    grid-area: profile-description;
    word-break: break-word;
    text-align: justify;
}

.profile-picture {
    grid-area: profile-picture;
}

.profile-picture {
    width: 65px;
    height: 65px;
}

.contact-button {
    background-color: #F47C48;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    min-height: 40px;
}

.staticProfile .profile-picture {
    height: 145px;
    width: 145px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

.staticProfile .content {
    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas:
        "description description"
        "class-content       time-content"
        ;
    
}

.class-content {
    grid-area: class-content;
    display: grid;
    margin:25px 0;
    grid-template-rows: 50px auto;
    grid-template-areas: 
            "add-class"
            "classes"
            ;
}

.class-text {
    grid-area: class-text;
    font-size: 24px;
    display: grid;
    align-content: center;
}

.add-time-modal-button {
    grid-area: button;
    align-self: center;
    justify-self: center;
}

.add-time-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add-time-modal>div {
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    max-width: 400px;
    max-height: 450px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.classes {
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    padding: 10px 30px;
    /*
    min-width: 574px;
    */
    justify-self: center;
    margin-top: 25px;
    border-radius: 5px;
    height: fit-content;
}



.class {
    position: relative;
    min-height: 100px;
    min-width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    grid-template-areas: "class-title" "class-description";
}

.class-button {
    grid-area: button;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;;
    width: 100%;
    height: 100%;
}

.class-title {
    grid-area: class-title;
    position: relative;
    justify-self: left;
    align-self: center;
}

.class-description {
    grid-area: class-description;
    margin-bottom: 20px;
    align-self: center;
    word-break: break-word;
    text-align: justify;
}

.description {
    word-break: break-word;
    text-align: justify;
}

.add-class {
    grid-area: add-class;
    align-self: center;
    justify-self: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.staticProfile .form {
    grid-area: form;
    padding: 0 60px;
}

.form div {
    margin-bottom: 20px;
}

.form .inputs>div:last-child {
    margin-bottom: 0;
}

.footer {
    grid-area: footer;
}

.login-error {
    align-self: center;
    color: red;
}


.input-request {
    margin-top: 5px;
    border-width: 0;
    border: 2px solid #F47C48;
    border-radius: 5px;
    padding: 4px 0;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 100%;
    resize: none;
}

.chat-box {
    border-width: 0;
    padding: 4px 0;
    border-radius: 0;
    padding-bottom: 8px;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 100%;
}

.input-request-filter {
    border-width: 0;
    border-bottom: 2px solid #F47C48;
    border-radius: 5px;
    padding: 4px 0;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 20%;
}

.select {
    height: 30px;
    display: block;
}

.label {
    color:#402039;
    margin-bottom: 10px;
}

.custom-input-container,
.custom-select-container,
.custom-field-array-container {
    position: relative;
    margin: 0 0 25px 0;
}

.custom-select-container {
    display: flex;
    flex-direction: column;
}

.double {
    margin-right: 20px;
}

.error-text {
    color: red;
    margin:0;
}

#pictureError {
    display: none;
}

.success-text {
    color: #228B22;
}

.button-2 {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F47C48;
    border-radius: 5px;
    background: white;
    color: #402039;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 32px;
    margin: 20px;

}

.forgot-password-link {
    display: flex;
    justify-content: center;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    width: 60px;
    border-color: #402039;
    text-align: center;
}

.selected-time {
    background-color: #206a9e;
}
.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #F47C48;
    color: white;
}

.next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #F47C48;
    color: white;
}

.round {
    border-radius: 50%;
}

.center-text {
    text-align: center;
}

.m-20-b {
    margin-bottom: 20px;
}

#display-error {
    border: 1px solid #D8D8D8;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgb(255, 249, 242);
    color: rgb(211, 0, 0);
    text-align: center;
}

#display-success {
    width: 400px;
    border: 1px solid #D8D8D8;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgb(236, 255, 216);
    color: green;
    text-align: center;
    margin-top: 30px;
}

.register-form {
    display: grid;
    grid-template-columns: 350px 312px 350px;
    grid-template-areas: "--- input errors";
}

.inputs {
    grid-area: input;
}

.errors {
    grid-area: errors;
}

.errors div:first-child {
    margin-top: 20px;
    padding-top: 0;
}

.error-msg {
    height: 45px;
    margin: 0 0 46px 15px;
    padding-top: 10px;
}

.center {
    align-self: center;
}

.no-border {
    border: none;
}

.m-10-b {
    margin-bottom: 10px;
}

.b-r-5 {
    border-radius: 5px;
}

.inbox-title {
    font-size: 40px;
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0!important;
}
.m-0-10 {
    margin: 20px;
    margin-top: 0px;
}


.rm-10-b {
    margin: 0;
}
.r-filter-title{
    width: 180px;
}
.input-request-filter {
    width:100px;
}

.conversation-messages {
    max-height: 200px;
}

.conversations {
    grid-template-columns: 100fr;
    grid-template-areas: "navbar " "....." "content" "......";
}

.column {
    display: flex;
    flex-direction: column;
}

.filter-input {
    min-width: 75px;
    padding-left: 5px;
    max-width: 75px;
    height: 30px;
}

.row {
    display: flex;
    flex-direction: row;
}

.m-w-80 {
    max-width: 80px;
}

.m-l-5 {
    margin-left: 5px;
}

.no-margin {
    margin: 0;
}

.m-r-5 {
    margin-right: 5px;
}

.select2-selection--multiple {
    overflow: auto;
    max-height: 25px;
    min-width: 200px;
    max-width: 200px;
}

.edit {
    color: #F47C48;
}

.r-center {
    justify-content: center;
}

.fit-content {
    width: fit-content;
}

.register-form {
    grid-template-columns: auto 312px auto;
}

.dropdown-button {
    padding: 20px;
}

.r-filter-title {
    width: 180px;
}

.input-request-filter {
    width:100px;
}

.column {
    display: flex;
    flex-direction: column;
}

.filter-input {
    min-width: 75px;
    padding-left: 5px;
    max-width: 75px;
    height: 30px;
}

.row {
    display: flex;
    flex-direction: row;
}

.m-w-80 {
    max-width: 80px;
}

.m-l-5 {
    margin-left: 5px;
}

.no-margin {
    margin: 0;
}

.m-r-5 {
    margin-right: 5px;
}

.select2-selection--multiple {
    overflow: auto;
    max-height: 25px;
    min-width: 200px;
    max-width: 200px;
}

.edit {
    color: #F47C48;
}

.r-center {
    justify-content: center;
}

.fit-content {
    width: fit-content;
}

.register-form {
    grid-template-columns: auto 312px auto;
}

.dropdown-button {
    padding: 0 20px;
}

.reserve-class {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    grid-template-areas:
            "title title"
            "form  table"
;
}

.reserve-class .button-container {
    grid-area: title;
}

.reserve-class .schedule {
    margin: 0;
    grid-area: table;
}

.reserve-class .form {
    height: fit-content;
    grid-area: form;
}

.reserve-class .form .responsiveRow {
    margin: 0;
}

.reserve-class .form .responsiveRow .row {
    margin: 0;
}

.register .content {
    display: grid;
    width: fit-content;
    padding: 10px;
    justify-self: center;
}

.edit-class {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 30;
}

.relative {
    position: relative;
}

.my-reservation {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-areas: "------- search-results ...."
                        "------- coment-form ------";
}

.search-result-status {
    grid-area: search-result-rating;
    font-weight: 700;
    color: #29303b;
    font-size: 25px;
    text-align: right;
}

.profile-course-button:link {
    padding-right: 10px;
    padding-left: 10px;
    color: #F47C48;
}


.profile-course-button:visited {
    padding-right: 10px;
    padding-left: 10px;
    color: #F47C48;
}

.w-98 {
    width: 98%;
}

.w-92 {
    width: 92%;
}


.w-100 {
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.navbar-button .dropdown {
    position: relative;
}

.m-t-20 {
    margin-top: 20px;
}

.schedule h4 {
    grid-area: schedule-tabla;
}