*{
    font-family:  Helvetica, sans-serif;
}

.navbar, .search-result, .dropdown-area, .contact-button, .class {
    box-shadow: 0 15px 35px -15px grey;
}

.class {
    box-shadow: 0 0 35px 0 grey;
}

.navbar {
    grid-area: navbar;
    background-color: #F47C48;
    display: grid;
    grid-template-areas: "logo-box search-bar";
    padding: 0 20px;
}

.staticSearchResults .navbar {
    grid-template-areas: "logo-box search-bar";
}

.staticHome .navbar {
    grid-template-areas: "logo-box";
}

.logo-box {
    grid-area: logo-box;
    height: 65px;
}

.logo {
    height: 100%;
    padding-right: 10px;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-rows: 65px 100px auto 100px;
    grid-template-areas: "navbar  navbar  navbar"
                         "content content content"
                         "content content content"
                         "content content content"
                        ;
}

.staticHome, .staticClass, .staticProfile, .register {
    grid-template-areas: "navbar navbar  navbar"
                         "...... ....... ......"
                         "...... content ......"
                         "...... ....... ......"
                        ;
}

.staticSearchResults {
    grid-template-areas: "navbar  navbar  navbar"
                         "content content content"
                         "content content content"
                         "content content content"
                        ;
}

.staticProfile {
    grid-template-columns: 20fr 60fr 20fr;
}

.navbar-button {
    background-color: inherit;
    border: none;
    display: grid;
    height: 100%;
    padding: 26px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar-buttons {
    display: grid;
    align-items: center;  
}

.content {
    grid-area: content;
}

.staticSearchResults .content {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-areas: "filter-panel search-results ...."
}

.register .content {
    display: grid;
    justify-content: center;
}

.search-box {
    grid-area: search-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px;
    grid-template-areas: "search-logo"
                         "search-bar"
                        ;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.navbar .search-bar {
    justify-content: end;
}

.navbar .search-input {
    height: 40%;
    max-width: 300px;
}

.navbar .search-img {
    max-width: 30px;
}

select {
    background-color: #F47C48;
    height: 30px;
    align-self: center;
    border: none;
}

.navbar .dropdown {
    grid-area: dropdown;
    display: grid;
    margin: 0px 10px;
    height: 100%;
}

.dropdown-button {
    position: relative;
    height: 100%;
}

.dropdown .dropdown-button:hover {
    background-color: rgb(247, 92, 36);
}

.dropdown .dropdown-area {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-area {
    display: grid;
    background-color: #F47C48;
}

.dropdown-area button {
    padding: 10px;
}

.dropdown-area button:hover {
    background-color: rgb(247, 92, 36);
}

.search-input {
    height: 44px;
    width: 630px;
    align-self: center;
}

.search-img {
    max-width: 44px;
}

button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
}

.filter-panel {
    grid-area: filter-panel;
    margin-top: 50px;
    margin-left: 5px;
}

.search-results {
    grid-area: search-results;
    display: grid;
    grid-auto-rows: 210px;
    grid-row-gap: 50px;
    grid-template-rows: 25px;
    grid-template-areas: "search-data"
}

.search-bar {
    grid-area: search-bar;
    display: grid;
    grid-template-areas: "search-input dropdown search-button";
}

.search-data {
    grid-area: search-data;
    margin: 0;
    margin-top: 50px;
    align-self: center;
}

.search-result {
    display: grid;
    border: 5px solid #F47C48;
    height: 100%;
    align-content: center;
    grid-template-rows: 50px 154px;
    grid-template-areas: "search-result-img search-result-title"
                         "search-result-img search-result-description"
}

.search-result-img {
    grid-area: search-result-img;
    align-self: center;
}

.search-result-title {
    grid-area: search-result-title;
}

.search-result-description {
    grid-area: search-result-description;
}

.search-logo {
    grid-area: search-logo;
    max-width: 272px;
}

.profile {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-areas: 
        "profile-picture profile-name"
        "profile-picture profile-description"
}

.profile-name {
    grid-area: profile-name;
}

.profile-description {
    grid-area: profile-description;
}

.profile-picture {
    grid-area: profile-picture;
}

.profile-picture {
    max-width: 65px;
}

.contact-button {
    background-color: #F47C48;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    min-height: 40px;
}

.staticProfile .profile-picture {
    max-width: 100px;
}

.staticProfile .content {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 50px 50px 80px auto;
    grid-template-areas:
        "profile-picture profile-name"
        "profile-picture profile-description"
        "............... ..................."
        "classes         classes"
        ;
    
}

.classes {
    grid-area: classes;
    display: grid;
    grid-auto-rows: 100px;
    grid-row-gap: 20px;
}

.class {
    position: relative;

    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    grid-template-areas: "class-title class-description";
}

.class-button {
    grid-area: button;
    position: absolute;
    top: 0;
    left: 0;;
    width: 100%;
    height: 100%;
}

.class-title {
    grid-area: class-title;
    position: relative;
    justify-self: center;
    align-self: center;
}

.class-title::after {
    position: absolute;
    content: "";
    margin-left: 5px;
    height: 40px;
    top: -10px;
    border-right: 1px solid rgba(200,200,200,0.7);
}

.class-description {
    grid-area: class-description;
    margin-left: 5px;
    align-self: center;
}

.add-class {
    justify-content: center;
    align-content: center;
    font-size: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    margin-bottom: 20px;
}

.form div:last-child{
    margin-bottom: 0;
}

.footer {
    grid-area: footer;
}


.input-request {
    border-width: 0;
    border-bottom: 2px solid #F47C48;
    border-radius: 0;
    padding: 4px 0;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 100%;
}

.select {
    height: 30px;
    display: block;
}

.label {
  color:#402039;
}

.custom-input-container,
.custom-select-container,
.custom-field-array-container {
    position: relative;
    margin: 0 0 25px 0;
}

.custom-select-container {
    display: flex;
    flex-direction: column;
}

.double {
    margin-right: 20px;
}

.error-text {
    position: absolute;
    top: 100%;
    color: red;
    font-size: 12px;
}

.button-2 {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F47C48;
    border-radius: 4px;
    background: transparent;
    color: #402039;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 32px;

}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}