@media screen and(-webkit-min-device-pixel-ratio:0) {
    /* width */
    .conversation-messages::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .conversation-messages::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    /* Handle */
    .conversation-messages::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    /* Handle on hover */
    .conversation-messages::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    /* width */
    .conversation-messages::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .conversation-messages::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    /* Handle */
    .conversation-messages::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    /* Handle on hover */
    .conversation-messages::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

*{
    font-family: 'lato';
}

textarea {
    resize: none;
}

.navbar, .search-result, .dropdown-area, .contact-button, .class, .dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.class, .search-course-result, .add-time>div {
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
}

.navbar {
    grid-area: navbar;
    background-color: #F47C48;
    display: grid;
    grid-template-areas: "logo-box search-bar navbar-buttons";
    grid-template-rows: 65px;
    grid-template-columns: 300px 1fr 300px;
    padding: 10px;
    align-content: center;
}

.staticHome .navbar {
    grid-template-areas: "logo-box navbar-buttons";
}

.logo-box {
    grid-area: logo-box;
    align-self: center;
    height: 45px;
    width: 45px;
}

.logo {
    height: 100%;
    padding-right: 10px;
}

body {
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-rows: 65px 25px auto 100px;
    grid-template-areas: "navbar  navbar  navbar"
                         "content content content"
                         "content content content"
                         "content content content"
                        ;
}

.body {
    display: block;
}

.staticHome, .staticClass, .staticProfile, .register, .conversations, .conversation {
    grid-template-areas: "navbar navbar  navbar"
                         "...... ....... ......"
                         "...... content ......"
                         "...... ....... ......"
                        ;
}

.staticSearchResults {
    grid-template-areas: "navbar"  "content";
}

.conversations, .conversation {
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: 65px 50px auto 50px;
}
.conversations {
    grid-template-rows: 65px 0px auto 50px;
}

.staticProfile {
    grid-template-columns: 10fr 80fr 10fr;
}

.navbar-button {
    background-color: inherit;
    border: none;
    display: grid;
    padding: 26px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: fit-content;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.content {
    grid-area: content;
}

.course {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-areas: "class class" "contact schedule";

}

.staticSearchResults .content {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-areas: "filter-panel search-results ...."
}

.register .content {
    display: grid;
    justify-content: center;
}

.search-box {
    grid-area: search-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px;
    grid-template-areas: "search-logo"
                         "search-bar"
                        ;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.navbar .search-bar {
    justify-content: end;
    margin-bottom: 0px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
}

.navbar .search-input {
    height: 30px;
    max-width: 300px;
}

.search-img {
    max-width: 35px;
}

.navbar .search-img {
    max-width: 25px;
}

.select-search-type {
    height: 30px;
    background-color: white;
    align-self: center;
    border: 1px solid grey;
    border-left: none;
    padding: 1px;
}

.select-searchbar-type {
    background-color: white;
    height: 44px;
    align-self: center;
    border: 1px solid grey;
    border-left: none;
    padding: 1px;
    width: 100px;
}

.search-dropdown {
    padding: 1px;
    margin-left: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.select-subject {
    background-color: white;
    height: 30px;
    align-self: center;
    border: none;
    border: 2px solid #F47C48;
    border-radius: 5px;
    margin-left: 5px;
}

.navbar .search-dropdown {
    width: fit-content;
    height: 30px;
    align-self: center;
}

/*Generic dropdown*/


.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown-button {
    position: relative;
    height: 100%;
    max-width: 50px;
}

.dropdown-button:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 65px;
    right: 32px;
    left: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/

/*End generic dropdown*/

.search-dropdown .dropdown-button:hover {
    background-color: rgb(247, 92, 36);
}

.search-dropdown .dropdown-area {
    display: none;
    position: absolute;
}

.search-dropdown:hover .dropdown-area {
    display: grid;
    background-color: #F47C48;
}

.dropdown-area button {
    padding: 10px;
}

.dropdown-area button:hover {
    background-color: rgb(247, 92, 36);
}

.search-input {
    height: 44px;
    width: 630px;
    align-self: center;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid grey;
}

.search-img {
    max-width: 35px;
}

button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
}

.filter-panel {
    grid-area: filter-panel;
    display: none;
    flex-direction: column;
    justify-self: center;
    background-color: #dedede;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-results {
    grid-area: search-results;
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    height: fit-content;
}

.search-bar {
    display: flex;
}

.search-data {
    margin: 0;
    margin-bottom: 20px;
    align-self: center;
}

.search-course-result {
    grid-area: search-data;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    background-color: white;
    height: 100%;
    align-content: center;
    grid-template-columns: 170px auto;
    grid-template-areas: "search-result-img search-result-title       search-result-specs"
                         "search-result-img search-result-professor   search-result-specs"
                         "search-result-img search-result-description search-result-specs"
                         "search-result-img search-result-description search-result-specs"
}
.search-course-result:hover {
    background-color: #dedede;
}

.search-area-result:hover{
    background-color: #dedede;
}

.search-area-result {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    background-color: white;
    height: 100%;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    grid-template-columns: 170px auto;
    grid-template-areas: "search-result-img search-result-title"
    "search-result-img search-result-description"
    "search-result-img search-result-description"
}

.paged-result-buttons{
    align-self: center;
}

.search-result {
    display: grid;
    border: 5px solid #F47C48;
    height: 100%;
    align-content: center;
    grid-template-areas: "search-result-img search-result-title"
    "search-result-img search-result-description"
}

.search-result-img {
    grid-area: search-result-img;
    align-self: center;
}

.search-result-picture {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.firstchild {

}

.search-result-title {
    grid-area: search-result-title;
    font-size: 25px;
    font-weight: 600;
}

.search-result-description {
    grid-area: search-result-description;
    font-size: 18px;
    color: #686f7a;
    font-weight: 400;
    word-break: break-word;
    text-align: justify;
}

.search-result-specs {
    grid-area: search-result-specs;
    font-weight: 700;
    color: #29303b;
    font-size: 25px;
    justify-self: flex-end;
}

.search-result-professor {
    grid-area: search-result-professor;
    font-size: 18px;
    color: #686f7a;
    font-weight: 400;
}

.m-20 {
    content: "";
    margin-bottom: 10px;
}

.search-logo {
    grid-area: search-logo;
    max-width: 272px;
}
.profile-profesor {
    grid-area: description;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 50px 100px;
    grid-template-areas:
            "profile-picture profile-name"
            "profile-picture profile-description"
}

.profile {
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: #dedede;
    height: fit-content;
    padding: 5px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 20px auto;
    grid-template-areas: 
        "profile-picture profile-name"
        "profile-picture profile-description"
}

.profile-name {
    grid-area: profile-name;
}

.profile-description {
    grid-area: profile-description;
    word-break: break-word;
    text-align: justify;
}

.profile-picture {
    grid-area: profile-picture;
}

.profile-picture {
    width: 65px;
    height: 65px;
}

.contact-button {
    background-color: #F47C48;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    min-height: 40px;
}

.staticProfile .profile-picture {
    height: 145px;
    width: 145px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

.staticProfile .content {
    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-template-rows: 150px 80px auto 80px auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas:
        "description description"
        "................... ..................."
        "class-content       time-content"
        ;
    
}

.class-content {
    grid-area: class-content;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-areas: 
            "add-class"
            "classes"
            ;
}

.class-text {
    grid-area: class-text;
    font-size: 24px;
    display: grid;
    align-content: center;
}

.time-content {
    grid-area: time-content;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-areas:
            "button"
            "schedule"
            ;
}

.time-content-other {
    display: grid;
    grid-template-areas:
            "schedule";
    grid-template-rows: auto;
}

.schedule-text {
    grid-area: schedule-text;
    align-self: center;
    margin-left: 25px;
    font-size: 24px;
}

.add-time-modal-button {
    grid-area: button;
    align-self: center;
    justify-self: center;
}

.add-time-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add-time-modal>div{
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    max-width: 400px;
    max-height: 450px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.classes {
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    height: fit-content;
}

.class-profile{
    grid-area: class;
    margin: 25px;
    margin-bottom: 30px;
}

.class {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    grid-template-areas: "class-title class-description";
}

.class-button {
    grid-area: button;
    position: absolute;
    top: 0;
    left: 0;;
    width: 100%;
    height: 100%;
}

.class-title {
    grid-area: class-title;
    position: relative;
    justify-self: center;
    align-self: center;
}

.class-title::after {
    position: absolute;
    content: "";
    margin-left: 5px;
    height: 40px;
    top: -10px;
    border-right: 1px solid rgba(200,200,200,0.7);
}

.class-description {
    grid-area: class-description;
    margin-left: 5px;
    align-self: center;
    word-break: break-word;
    text-align: justify;
}

.description {
    word-break: break-word;
    text-align: justify;
}

.add-class {
    grid-area: add-class;
    position: relative;
    align-self: center;
    justify-self: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.staticProfile .form {
    grid-area: form;
    padding: 0 60px;
}

.form div {
    margin-bottom: 20px;
}

.form .inputs>div:last-child{
    margin-bottom: 0;
}

.footer {
    grid-area: footer;
}

.login-error {
    align-self: center;
    color: red;
}


.input-request {
    margin-top: 5px;
    border-width: 0;
    border: 2px solid #F47C48;
    border-radius: 5px;
    padding: 4px 0;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 100%;
    resize: none;
}

.chat-box {
    border-width: 0;
    padding: 4px 0;
    border-radius: 0;
    padding-bottom: 8px;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 100%;
}

.input-request-filter {
    border-width: 0;
    border-bottom: 2px solid #F47C48;
    border-radius: 5px;
    padding: 4px 0;
    background-color: white;
    font-size: 15px;
    color: #402039;
    width: 20%;
}

.select {
    height: 30px;
    display: block;
}

.label {
    color:#402039;
    margin-bottom: 10px;
}

.custom-input-container,
.custom-select-container,
.custom-field-array-container {
    position: relative;
    margin: 0 0 25px 0;
}

.custom-select-container {
    display: flex;
    flex-direction: column;
}

.double {
    margin-right: 20px;
}

.error-text {
    color: red;
    margin:0;
}

#pictureError {
    display: none;
}

.success-text {
    color: #228B22;
}

.button-2 {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F47C48;
    border-radius: 5px;
    background: white;
    color: #402039;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 32px;
    margin: 20px;

}

.forgot-password-link {
    display: flex;
    justify-content: center;
}

.conversation .button-container {
    margin: 0px;
}

.conversation .button-2 {
    margin: 0px;
}


.schedule {
    grid-area: schedule;
    margin: 25px;
    padding: 10px;
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: #dedede;
}

.schedule th {
    padding: 10px;
}

.schedule td>div {
    height: 20px;
}

.staticProfile .schedule {
    min-width: 655px;
}

.conversation {

}

.inbox-message {
    display: grid;
    justify-content: center;
    flow-direction: columns;
}

.chat {
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px grey;
    position: relative;
    background-image: linear-gradient(#cccccc, white);
    border-radius: 5px;
}

.conversation-link {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.conversation-last-time {
    align-self: end;
    margin-bottom: 0px;
    padding: 5px;
}

.conversation-messages {
    border: 2px solid #dedede;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    max-height: 550px;
    display: flex;
    flex-direction: column;
}

.message {
    width: fit-content;
    max-width: 60%;
    max-height: fit-content;
    display: grid;
    grid-template-areas:
            "message-text .... ............"
            "............ .... message-time";
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px #bdd8a6;
    border-radius: 5px;
    background-color: #D8F5C0;
}

.message.own {
    align-self: flex-end;
}

.message-text {
    grid-area: message-text;
    word-break: break-word;

    text-align: justify;
}

.message-time {
    margin: 0;
    margin-bottom: 4px;
    grid-area: message-time;
}

.conversation .form-container {
    padding: 10px;
    border: 2px solid #dedede;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #dedede;
}

.contact {
    grid-area: contact;
    padding: 10px;
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: #dedede;
    height: fit-content;
    width: 600px;
    margin: 25px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    border-color: #402039;
}

.selected-time {
    background-color: #206a9e;
}
.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #F47C48;
    color: white;
}

.next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #F47C48;
    color: white;
}

.round {
    border-radius: 50%;
}

.center-text {
    text-align: center;
}

.m-20-b {
    margin-bottom: 20px;
}

#display-error
{
    border: 1px solid #D8D8D8;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgb(255, 249, 242);
    color: rgb(211, 0, 0);
    text-align: center;
}

#display-success
{
    width: 400px;
    border: 1px solid #D8D8D8;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgb(236, 255, 216);
    color: green;
    text-align: center;
    margin-top: 30px;
}

.register-form {
    display: grid;
    grid-template-columns: 350px 312px 350px;
    grid-template-areas: "--- input errors";
}

.inputs {
    grid-area: input;
}

.errors {
    grid-area: errors;
}

.errors div:first-child {
    margin-top: 20px;
    padding-top: 0;
}

.error-msg {
    height: 45px;
    margin: 0 0 46px 15px;
    padding-top: 10px;
}

.center {
    align-self: center;
}

.no-border {
    border: none;
}

.m-10-b {
    margin-bottom: 10px;
}

.b-r-5 {
    border-radius: 5px;
}

.inbox-title {
    font-size: 40px;
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0!important;
}
.m-0-10 {
    margin: 20px;
    margin-top: 0px;
}

.search-button {
    background-color: white;
    height: 44px;
    align-self: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid grey;
    border-left: none;
    padding: 1px;
    margin-left: 0;
}
.navbar .search-button {
    width: fit-content;
    height: 30px;
    align-self: center;
}

@media only screen and (max-width: 600px) {

    .search-input {
        width: 300px;
        border: 1px solid grey;
    }

    .navbar {
        grid-template-columns: 70px auto 70px;
    }

    .navbar-buttons.responsive {position: relative;}
    .navbar-buttons.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-buttons.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar .search-input {
        max-width: 200px;
    }

    .course {
        padding: 10px;
        grid-template-columns: 100fr;
        grid-template-areas: "class" "contact" "schedule";
    }

    .contact {
        max-width: 550px;
        margin: 20px 0;
    }

    .schedule {
        min-width: 550px;
        margin: 20px 0;
    }

    .staticProfile .schedule {
        min-width: 550px;
        max-width: 550px;
    }

    table, td, th {
        font-size: 15px;
    }
    th, td {
        padding: 2px;
    }
    .staticProfile {
        grid-template-areas: "navbar" "......" "content";
        grid-template-columns: 100fr;

    }
    .staticProfile .content {
        padding: 10px;
        grid-template-columns: 100fr;
        grid-template-rows: 150px auto auto;
        grid-template-areas: "description" "class-content" "time-content";
    }
    .classes {
        max-width: 550px;
    }
    .profile-profesor{
        max-width: 550px;
    }

    .staticSearchResults .content {
        grid-template-areas: "filter-panel" "search-results";
        padding: 5px;
    }

    .filter-panel {
        width: 550px;
        margin: 0;
        margin-top: 25px;
    }
    .responsiveRow {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    .responsiveDelete{
        display: none;
    }
    .rm-10-b {
        margin: 0;
    }
    .r-filter-title{
        width: 180px;
    }
    .input-request-filter {
        width:100px;
    }
    .search-results {
        width: 550px;
    }
    .conversation-messages {
        max-height: 200px;
    }
    .conversations {
        grid-template-columns: 100fr;
        grid-template-areas: "navbar " "....." "content" "......";
    }
    .register-form {
        grid-template-columns: auto 312px auto;
    }
    .class-content {
        grid-template-rows: auto auto auto;
    }
}